mlflow==2.10.0
cloudpickle==3.0.0
ipywidgets==8.1.1
matplotlib==3.6.0
nltk==3.8.1
numpy==1.24.4
packaging==23.2
pandas==1.5.3
psutil==5.9.0
pydantic==2.5.3
pyyaml==6.0.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
statsmodels==0.14.1